.people_container {
     border-radius: 50%;
     padding: 10px;
     background-color: white;
     position:relative;
}

.shades{
     position: absolute;
     z-index: -1;
     top: -20px;
     left: 0.5;
}

.people {
     width: 135px;
     height: 135px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     background-color: rgb(110, 0, 0);
}

.people_sec {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     width: 110px;
     gap: 9px;
     border-radius: 50%;
}

.sec2 {
     transform: rotate(90deg);
}

.sec3 {
     transform: rotate(270deg);
}

.sec4 {
     transform: rotate(180deg);
}